@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default
};

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #2563eb;
  --color-secondary: #10b981;
  --color-accent: #f59e0b;
}

.dark {
  
  --primary: #3b82f6;
  --secondary: #34d399;
  --accent: #fbbf24;

}


body{
  
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;


}
